*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

:focus,
:active {
    outline: none
}

a:focus,
a:active {
    outline: none
}

nav,
footer,
header,
aside {
    display: block
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

input,
button,
textarea {
    font-family: sans-serif
}

input::-ms-clear {
    display: none
}

button {
    cursor: pointer
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

a,
a:visited {
    text-decoration: none
}

a:hover {
    text-decoration: none
}

ul li {
    list-style: none
}

img {
    vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400
}

input[type="text"],
input[type="submit"],
textarea {
    -webkit-appearance: none
}

html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
img,
strong,
b,
i,
center,
ol,
ul,
li,
form,
label,
footer,
header,
nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-size-adjust: inherit;
    font-stretch: inherit;
    -webkit-font-feature-settings: inherit;
    -moz-font-feature-settings: inherit;
    font-feature-settings: inherit;
    -webkit-font-language-override: inherit;
    -moz-font-language-override: inherit;
    font-language-override: inherit;
    -webkit-font-kerning: inherit;
    font-kerning: inherit;
    font-synthesis: inherit;
    font-variant: inherit;
    font-size: 100%;
    vertical-align: baseline
}

html {
    line-height: 1
}

ul {
    list-style: outside none none
}

footer,
header,
nav {
    display: block
}

.breadcrumbs {
    padding-left: 24px;
    padding-right: 24px
}

@media (max-width:530px) {
    .breadcrumbs {
        padding-left: 12px;
        padding-right: 12px
    }
}

a {
    color: inherit;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

body {
    background: transparent repeat scroll 0% 0%
}

@media (max-width:530px) {
    body {
        position: relative
    }
}

.content::after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
}

.page-wrap {
    padding: 0 64px;
    max-width: 1280px;
    min-width: 300px;
    margin: 0 auto;
    position: relative;
    cursor: auto
}

@media (max-width:900px) {
    .page-wrap {
        padding: 0 24px
    }
}

@media (max-width:530px) {
    .page-wrap {
        padding: 0;
        overflow: hidden
    }
}

.main-content {
    background: transparent repeat scroll 0% 0%;
    z-index: 11;
    position: relative
}

.main-content::after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
}

.content {
    min-height: 700px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin: 0 auto
}

.content__inner {
    float: left
}

.content__inner_wide {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc
}

@media (max-width:1280px) {
    .content__inner_wide {}
}

@media (max-width:1024px) {
    .content__inner_wide {
        width: 100%
    }
}

.footer,
.content {
    clear: both
}

.nav_mobile {
    display: none
}

@media (max-width:530px) {
    .nav_mobile {
        display: block;
        width: 270px;
        position: absolute;
        top: 100px;
        right: 0;
        z-index: 2;
        height: 100%;
        background: #222 none repeat scroll 0% 0%
    }

    .nav_mobile::after {
        position: absolute;
        height: 100%;
        width: 1px;
        left: -1px;
        top: 0;
        -webkit-box-shadow: 2px 0 14px 1px #333;
        box-shadow: 2px 0 14px 1px #333;
        content: " "
    }

    .nav_mobile .nav__list_mobile li {
        height: 48px;
        line-height: 48px;
        color: #fff;
        border-bottom: 1px solid #000
    }

    .nav_mobile .nav__list_mobile li a {
        font: 16px/48px "OpenSansLight", sans-serif;
        padding-left: 24px
    }

    .nav_mobile .nav__list_mobile li .header__air {
        padding: 15px 24px 0;
        border-left: medium;
        width: auto;
        float: none
    }
}

@media (max-width:530px) and (max-width:530px) {
    .nav_mobile .nav__list_mobile li .header__air {
        display: block
    }
}

@media (max-width:530px) {
    .nav_mobile .nav__list_mobile li .header__air-logo {
        padding: 0;
        float: left
    }

    .nav_mobile .nav__list_mobile li .header__air-title {
        float: right;
        color: #fff;
        font-size: 12px;
        line-height: 10px
    }
}

.header__air {
    float: right;
    border-left: 1px solid #2483c5;
    padding: 15px 16px 0;
    height: 49px
}

@media (max-width:530px) {
    .header__air {
        display: none
    }
}

.header__air-logo {
    display: block;
    width: 70px;
    height: 18px;
    background: transparent url("logo_r24_s.png") repeat scroll 0% 0%
}

.header__air-title {
    display: block;
    font: 11px/11px Tahoma, sans-serif;
    color: #85cced;
    padding-top: 5px;
    text-decoration: none
}

.footer {
    padding-bottom: 40px;
    background: #1a1a1a none repeat scroll 0% 0%;
    overflow: hidden;
    position: relative;
    z-index: 7
}

.footer-wrapper_top {
    border-top: 9px solid #2483c5;
    background: #262626 none repeat scroll 0% 0%;
    height: 64px
}

@media (max-width:530px) {
    .footer-wrapper_top {
        height: auto
    }
}

.footer__inner {
    padding: 0 64px;
    max-width: 1280px;
    min-width: 300px;
    margin: 0 auto
}

@media (max-width:900px) {
    .footer__inner {
        padding: 0 24px
    }
}

.nav_footer {
    float: left;
    height: 64px;
    width: 730px;
    overflow: hidden;
    margin-left: -24px
}

@media (max-width:1280px) {
    .nav_footer {
        display: none
    }
}

.nav_footer li {
    float: left;
    height: 64px
}

.nav_footer li a {
    display: block;
    height: 100%;
    font: 16px/64px "OpenSansLight", sans-serif;
    color: #fff;
    padding: 0 24px;
    text-decoration: none
}

.soc-buttons {
    display: block;
    float: right;
    padding-top: 16px
}

@media (max-width:530px) {
    .soc-buttons {
        height: auto;
        float: none;
        padding-top: 0;
        padding-bottom: 16px
    }
}

.soc-buttons a {
    display: block;
    float: right;
    margin-left: 16px;
    width: 32px;
    height: 32px;
    background-image: url("soc-icons.png");
    -webkit-transition: background .2s ease-out 0s;
    -o-transition: background .2s ease-out 0s;
    transition: background .2s ease-out 0s
}

@media (max-width:530px) {
    .soc-buttons a {
        margin-top: 16px
    }
}

.soc-buttons_vk {
    background-position: 0 0
}

.soc-buttons_vk:hover {
    background-position: 0 -32px
}

.soc-buttons_fb {
    background-position: -32px 0
}

.soc-buttons_fb:hover {
    background-position: -32px -32px
}

.soc-buttons_twt {
    background-position: -64px 0
}

.soc-buttons_twt:hover {
    background-position: -64px -32px
}

.soc-buttons_gplus {
    background-position: -96px 0
}

.soc-buttons_gplus:hover {
    background-position: -96px -32px
}

.soc-buttons_rss {
    background-position: -128px 0
}

.soc-buttons_rss:hover {
    background-position: -128px -32px
}

.soc-buttons_insta {
    background-position: -160px 0
}

.soc-buttons_insta:hover {
    background-position: -160px -32px
}

.soc-buttons_youtube {
    background-position: -192px 0
}

.soc-buttons_youtube:hover {
    background-position: -192px -32px
}

.soc-buttons_ok {
    background-position: -224px 0
}

.soc-buttons_ok:hover {
    background-position: -224px -32px
}

.soc-buttons_telegram {
    background-position: -256px 0
}

.soc-buttons_telegram:hover {
    background-position: -256px -32px
}

.footer__copyright {
    font: 12px/17px "RobotoLight", sans-serif;
    color: #999;
    padding: 36px 0 0
}

.footer__copyright p {
    padding-bottom: 24px
}

.footer__copyright p+p {
    padding-left: 54px;
    padding-top: 2px
}

.breadcrumbs {
    width: 97%;
    height: 52px;
    border-bottom: 1px dotted #ccc;
    padding-top: 16px;
    padding-bottom: 16px;
    font: 14px/22px "OpenSansLight"
}

.breadcrumbs h2 a {
    color: #255d89;
    display: block;
    float: left;
    padding-right: 16px;
    border-left: 1px solid #ccc;
    padding-left: 16px;
    cursor: pointer
}

.breadcrumbs h2 a:first-child {
    border-left: medium;
    padding-left: 0
}

.article {
    padding: 24px 70px
}

.comment-block .article {
    padding: 5px
}

@media (max-width:530px) {
    .article {
        padding: 24px 12px
    }
}

@media (max-width:1024px) {
    .article {
        width: auto
    }
}

.article::after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
}

.article__date {
    font: 14px/18px "ArimoRegular", sans-serif;
    color: #555;
    float: right
}

.article__date .article__time {
    padding-left: 12px;
    padding-right: 12px
}

.article__date .article__author {
    padding: 0 12px;
    border-left: 1px solid #ccc
}

.article__title {
    font: 24px/28px "RussiaLight", sans-serif;
    padding: 4px 0
}

.article__text {
    font: 16px/24px "OpenSansRegular", sans-serif;
    color: #333;
    padding-left: 0;
    padding-top: 24px
}

@media (max-width:1280px) {
    .article__text {
        padding-left: 0
    }
}

.article__text img {
    max-width: 100%
}

.article__text p {
    padding: 0 0 30px;
    text-align: right !important
}

.article__text.comme p {
    padding: 0 0 10px;
    text-indent: 0;
    text-align: right !important;
    clear: both;
}

.article__text.comme .user-name {
    padding: 0 0 10px
}

.article__text a {
    text-decoration: underline;
    color: #0095da
}

.article__text b {
    font-weight: 700
}

@media (max-width:900px) {
    .page-wrap {
        padding: 15px 24px 0
    }
}

@media (max-width:1024px) {
    .page-wrap {
        padding: 15px 64px 0
    }
}

@media (max-width:530px) {
    .nav_mobile {
        bottom: 1px;
        z-index: 1;
        height: auto;
        top: 0;
        display: none
    }

    .page-wrap {
        padding: 15px 0 0
    }
}

@media (max-width:670px) {
    .page-wrap {
        padding: 0
    }
}

.of-site {
    font: bold 30px/100% "RussiaLight", sans-serif
}

img {
    max-width: 100%
}

a:hover {
    text-decoration: none
}

.screenLock {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, .7) none repeat scroll 0% 0%;
    top: 0;
    left: 0;
    z-index: 99999;
    display: none
}

.msg {
    position: absolute;
    width: 600px;
    height: 220px;
    top: 150px;
    left: 50%;
    margin-left: -300px;
    background: #148fb9 none repeat scroll 0% 0%;
    border: 1px solid #eee
}

.msg>h1 {
    color: #fff;
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 30px
}

.close {
    position: absolute;
    top: 1px;
    right: 5px;
    font-size: 40px;
    cursor: pointer
}

.comment-block {
    background: #fff none repeat scroll 0% 0%
}

.comment-user {
    min-height: 130px;
    clear: both;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    overflow: hidden;
    padding-left: 80px
}

.comment-block .user-name {
    font-weight: 700;
    padding: 0 0 10px;
    margin-left: -80px
}

.comment-block img {
    width: 60px;
    float: right;
    margin: 0 0 0 -80px
}

@media screen and (max-width:479px) {
    .comment-user {
        padding-left: 50px
    }

    .comment-block img {
        width: 40px;
        margin: 0 10px 0 -50px
    }

    .comment-block .user-name {
        margin-left: -50px
    }
}

.comment-block p {}

a:active,
a:focus {
    outline: none
}

input,
textarea {
    outline: none
}

input:active,
textarea:active {
    outline: none
}

:focus {
    outline: none
}

textarea {
    resize: none
}

textarea {
    resize: vertical
}

textarea {
    resize: horizontal
}

button:active,
button:focus {
    outline: none !important
}

button::-moz-focus-inner {
    border: 0 !important
}

.order_form {
    padding: 20px 20px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0;
    font-family: Arial, Helvetica
}

@media screen and (max-width:602px) {
    .footer p {
        margin-bottom: 50px
    }
}

.close {
    margin-top: 10px;
    margin-right: 10px;
    position: absolute;
    top: 1px;
    right: 5px;
    font-size: 40px;
    cursor: pointer
}

@media screen and (max-width:500px) {

    .soc-buttons_rss,
    .soc-buttons_ok,
    .soc-buttons_gplus {
        display: none !important
    }

    .footer__inner {
        padding: 0 10px
    }
}

.radio[type=radio]:not(:checked) {
    position: absolute;
    left: -9999px
}

.radio[type=radio]:not(:checked) label {
    position: relative;
    padding-left: 23px;
    cursor: pointer
}

.radio[type=radio]:not(:checked) label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 13px;
    height: 13px;
    background: #fff;
    border: 1px solid #dbdbdb;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all .5s;
    transition: all .5s
}

.radio[type=radio]:not(:checked) label:after {
    content: '';
    position: absolute;
    left: 3px;
    top: 5px;
    width: 7px;
    height: 7px;
    background: #000;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all .3s;
    transition: all .3s
}

.radio[type=radio]:not(:checked) label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0)
}

.radio[type=radio]:disabled:not(:checked) label:before {
    border-color: #bbb;
    background-color: #ddd
}

.radio[type=radio]:not(:checked):focus label:before {
    border-color: #919191
}

.checkbox[type=checkbox]:not(:checked) {
    position: absolute;
    left: -9999px
}

.checkbox[type=checkbox]:not(:checked) label {
    position: relative;
    padding-left: 23px;
    cursor: pointer
}

.checkbox[type=checkbox]:not(:checked) label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 12px;
    height: 12px;
    background: #fff;
    border: 1px solid #b2b2b2;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all .5s;
    transition: all .5s
}

.checkbox[type=checkbox]:not(:checked) label:after {
    content: 'вњ”';
    color: #fd3a13;
    position: absolute;
    left: 0;
    top: 0;
    width: 12px;
    height: 12px;
    font-size: 17px;
    line-height: 12px;
    text-align: center;
    -webkit-transition: all .3s;
    transition: all .3s
}

.checkbox[type=checkbox]:not(:checked) label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0)
}

.checkbox[type=checkbox]:disabled:not(:checked) label:before {
    border-color: #bbb;
    background-color: #ddd
}

.checkbox[type=checkbox]:not(:checked):focus label:before {
    border-color: #919191
}

.radio-tp-2[type=radio]:not(:checked) {
    position: absolute;
    left: -9999px
}

.radio-tp-2[type=radio]:not(:checked) label {
    display: block;
    position: relative;
    padding-left: 23px;
    cursor: pointer
}

.radio-tp-2[type=radio]:not(:checked) label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid #aaa;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all .5s;
    transition: all .5s
}

.radio-tp-2[type=radio]:not(:checked) label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 10px;
    width: 4px;
    height: 4px;
    background: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all .3s;
    transition: all .3s
}

.radio-tp-2[type=radio]:not(:checked) label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0)
}

.radio-tp-2[type=radio]:disabled:not(:checked) label:before {
    border-color: #bbb;
    background-color: #ddd
}

.radio-tp-2[type=radio]:not(:checked):focus label:before {
    border-color: #919191
}

body {
    font: 13px/23px OpenSans-Semibold;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}

a,
button,
input[type="tel"],
input[type="text"],
textarea {
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.main-content {
    background: #ebebeb;
    overflow: hidden
}

.breadcrumbs {
    color: #6f6f6f;
    font-family: OpenSans-Semibold
}

.breadcrumbs a {
    color: inherit;
    text-decoration: none
}

@media screen and (max-width:767px) {
    .top-panel {
        display: none
    }

    .header-tp-3 {}

    .header-tp-3 .main-nav {
        margin-left: 10px
    }

    .breadcrumbs {
        height: 52px
    }

    .article__date {
        float: none;
        clear: both;
        padding-top: 18px
    }
}

@media screen and (max-width:970px) {
    .htp-3-row {
        display: none !important
    }
}

.header-tp-3 {
    position: relative;
    z-index: 11
}

.header-tp-3 .bottom-side {
    position: relative
}

.htp-3-row {
    display: block;
    margin-left: -10px;
    margin-right: -10px
}

.htp-3-row::after {
    clear: both;
    content: "";
    display: table
}

.htp-3-menu {
    display: block;
    float: left;
    margin-right: 0
}

.htp-3-menu {
    width: 83.33333%;
    padding: 19px 0 0
}

.htp-3-menu:last-child {
    margin-right: 0
}

@media screen and (max-width:1077px) {

    .htp-3-menu,
    .htp-3-menu:last-child {
        margin-right: 0
    }

    .htp-3-menu {
        float: left;
        display: block;
        width: 88.33333%
    }
}

.header-tp-3 .htp-3-menu {
    text-align: center
}

.header-tp-3 .main-nav {
    display: inline-block;
    vertical-align: top;
    text-align: right
}

.main-nav-list,
.sf-menu {
    float: left;
    margin: 0
}

@media screen and (max-width:1077px) {

    .main-nav-list,
    .sf-menu {
        margin: 0
    }
}

.main-nav-list li,
.sf-menu li {
    position: relative
}

.main-nav-list>li,
.sf-menu>li {
    float: left
}

.main-nav-list>li:hover>a:after,
.sf-menu>li:hover>a:after {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
}

.sf-menu>li>a {
    color: #1c1c1c;
    display: block;
    font-weight: 600;
    -moz-font-weight: 500;
    padding: 12px 12px 20px;
    position: relative;
    text-decoration: none;
    border-bottom: solid 2px transparent;
    cursor: pointer;
    text-transform: uppercase
}

@media screen and (max-width:1229px) {
    .sf-menu>li>a {
        padding: 12px 8px 20px
    }
}

.sf-menu>li>a:after {
    background: #fd3a13;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    opacity: 0;
    top: 55px;
    -webkit-transform: scale(.5, 1);
    -ms-transform: scale(.5, 1);
    transform: scale(.5, 1);
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition: opacity .2s, -webkit-transform .3s;
    transition: opacity .2s, -webkit-transform .3s;
    transition: transform .3s, opacity .2s;
    transition: transform .3s, opacity .2s, -webkit-transform .3s
}

@media screen and (max-width:639px) {
    .mb-ls-hide {}
}

.row-header {
    font-size: 0 !important;
    margin: 0 !important
}

.top-panel {
    height: 40px;
    background: #f3f3f3;
    border-bottom: 1px solid #ccc
}

.top-panel-right {
    display: inline-block;
    vertical-align: top
}

.top-panel-right {
    width: 99%
}

.top-panel-soc {
    font-size: 0;
    text-align: right;
    margin-right: -18px
}

.top-panel-soc li {
    display: inline-block;
    vertical-align: top
}

.top-panel-soc li a {
    display: block;
    border-left: 1px solid #ccc;
    width: 50px;
    font-size: 18px;
    color: #ccc;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    transition: .3s;
    cursor: pointer
}

.close {
    position: absolute
}

ol li {
    list-style-type: decimal
}

.close {
    width: 21px;
    height: 13px;
    cursor: pointer;
    top: 5px;
    right: 3px;
    z-index: 9999
}

.close:hover {
    background-position: 0 -13px
}

@media screen and (max-width:676px) {
    .footer__copyright {
        display: none
    }

    .footer {
        padding-bottom: 0
    }
}

.bg-TamTam,
.bg-fb,
.bg-odnoklassniki,
.bg-tw,
.bg-vk {
    width: 40px;
    height: 40px
}

.bg-vk {
    background: url("css_sprites_grey.png") -9px -15px;
    background-size: 380px
}

.bg-fb {
    background: url("css_sprites_grey.png") -69px -15px;
    background-size: 370px
}

.bg-tw {
    background: url("css_sprites_grey.png") -127px -14px;
    background-size: 360px
}

.bg-TamTam {
    background: url("css_sprites_grey.png") -192px -15px;
    background-size: 370px
}

.bg-odnoklassniki {
    background: url("css_sprites_grey.png") -247px -14px;
    background-size: 360px
}

.bg-instagram {
    width: 40px;
    height: 40px;
    background: url("css_sprites_grey.png") 62px -24px;
    background-size: 470px
}

.bg-vk:hover {
    background: url("css_sprites.png") -9px -15px;
    background-size: 380px
}

.bg-fb:hover {
    background: url("css_sprites.png") -69px -15px;
    background-size: 370px
}

.bg-tw:hover {
    background: url("css_sprites.png") -127px -14px;
    background-size: 360px
}

.bg-TamTam:hover {
    background: url("css_sprites.png") -192px -15px;
    background-size: 370px
}

.bg-odnoklassniki:hover {
    background: url("css_sprites.png") -247px -14px;
    background-size: 360px
}

.bg-instagram:hover {
    background: url("css_sprites.png") 62px -24px;
    background-size: 470px
}

.main-nav-list>li>a:hover {
    border-bottom: solid 2px red
}

img.comm_photo {
    display: block;
    max-width: 350px;
    width: 100%;
    margin: 0;
    margin-bottom: 30px
}

.lead-form-box {
    display: none
}

#lead-form-result {
    display: none;
    box-sizing: border-box;
    width: 100%;
    border-radius: 3px;
    padding: 7px;
    font-size: 15px;
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1
}

.order_block,
.order_block * {
    box-sizing: border-box;
    transition: .2s;
    font-family: Arial, sans-serif !important
}

.order_block {
    max-width: 650px;
    padding: 20px;
    width: 100%;
    margin: auto;
    text-align: center;
    background: #fff;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .12);
    border: 3px dashed #eaeaea;
    border-radius: 0
}

.order_block .order_offer {
    text-align: center
}

.order_block .order_offer img {
    max-width: 100%;
    width: auto
}

.order_pre_form {
    padding: 20px 20px 0 20px
}

.order_form_row {
    margin-bottom: 10px;
    text-align: right
}

.order_form {
    width: 100%;
    max-width: 500px;
    padding: 0 20px 20px 20px
}

.order_header {
    margin: 12px 0 !important;
    padding: 0 !important;
    font-size: 18px
}

.order_form .order_form_row input {
    width: 100% !important;
    padding: 14px;
    border: 2px solid #eaeaea;
    font-size: 15px;
    border-radius: 3px;
    box-shadow: none !important;
    margin: 0 !important
}

.order_form .order_form_row label {
    font-size: 13px;
    text-align: right;
    font-weight: bold
}

.order_form .order_form_row input:active,
.order_form .order_form_row input:focus {
    outline: none;
    border: 2px solid #cecece
}

.order_form .order_form_button {
    box-shadow: 0 1px 0 0 #f5978e inset;
    background: #f24537;
    border-radius: 3px;
    border: 1px solid #d02718;
    width: 100%;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    outline: none;
    padding: 16px 0;
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
    text-decoration: none;
    letter-spacing: .6px;
    text-shadow: 0 1px 0 #810e05
}

.order_form .order_form_button:hover {
    background: #c62d1f
}

.order_form .order_form_button:active {
    position: relative;
    top: 1px
}

.order_timer_block {
    line-height: 1;
    font-weight: bold
}

.order_timer_block p {
    font-size: 18px;
    margin: 10px 0 !important;
    padding: 0 !important
}

.order_timer_block .order_timer {
    font-size: 21px
}

.time_remains {
    color: red
}

.box-popup-wrapper {
    background: rgba(0, 0, 0, .5);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    display: none
}

.box-tooltip {
    background: #fff;
    font-size: 18px;
    padding: 20px;
    width: 90%;
    max-width: 320px;
    margin: 80px auto;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 1px 40px rgba(0, 0, 0, .5);
    cursor: pointer
}

.box-tooltip:hover .box-tooltip-btn {
    background: #62a30e !important;
    transition: .2s !important
}

.box-tooltip-title {
    margin: 0 !important;
    padding: 0 !important;
    color: #333 !important;
    text-align: center !important;
    font-family: Arial, Helvetica, sans-serif !important
}

.box-tooltip-ico {
    width: 100% !important;
    padding: 20px !important;
    padding-top: 0 !important;
    box-sizing: border-box !important;
    text-align: center !important
}

.box-tooltip-ico img {
    height: 80px !important;
    width: auto !important;
    margin: 15px !important
}

.box-tooltip-btn {
    background: #70b31a !important;
    color: #fff !important;
    text-align: center !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    font-size: 15px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    width: 100% !important;
    margin: 0 auto !important;
    padding: 16px 0 !important;
    border-radius: 15px !important;
    text-align: center !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .12) !important;
    animation: scale .4s infinite !important;
    animation-direction: alternate !important
}

.afterlose-boxes_item {
    opacity: .6
}

.shake {
    animation: shake .82s cubic-bezier(.36, .07, .19, .97) both;
    animation-iteration-count: 1;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.03);
    }
}

#boxesContainer {
    width: 100%;
    margin: auto;
    max-width: 600px
}

.boxes,
.boxes cbox,
.boxes img {
    width: 100%
}

.instructions {
    padding: 10px;
    background-color: #232f3e;
    border-radius: 4px;
    box-shadow: 0 4px 15px 0 rgba(129, 150, 160, .45);
    color: #fff
}

#tries_count {
    font-size: 19px
}

.boxes {
    margin: 10px 0
}

.boxes_item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 32.5%;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    cursor: pointer;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

.boxes_item.afterlose-boxes_item {
    cursor: default
}

.boxes_item.afterlose-boxes_item:hover {
    -webkit-transform: none;
    transform: none
}

.boxes_item:hover {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1)
}

.win_prize {
    font-size: 32px !important;
    font-weight: bold !important;
    color: #e72c2a !important;
    text-transform: uppercase !important;
    width: 100% !important;
    text-align: center !important;
    margin: 0 !important;
    line-height: 1.2 !important
}

@media (max-width:479px) {
    .boxes div {
        width: 32%
    }

    .win_prize {
        font-size: 21px !important
    }
}

@media (max-width:319px) {
    .boxes div {
        width: 48%
    }

    .win_prize {
        font-size: 18px !important
    }
}

.f-title {
    text-align: center;
    font-size: 35px;
    color: #333;
    line-height: 41px;
    margin-bottom: 17px;
    margin-top: 30px
}

.comment_form {
    display: table;
    width: 100%;
    max-width: 530px;
    padding: 20px 15px;
    margin: 0 auto 30px;
    background-color: #fff;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #aeaeae;
    -moz-placeholder-color: #6e6e6e;
    -ms-input-placeholder-color: #6e6e6e
}

.comment_form input[type="text"],
.comment_form input[type="email"],
.comment_form textarea {
    width: 100%;
    margin-bottom: 20px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    border: 2px solid #aeaeae;
    font-weight: 700;
    -webkit-transition: all .3s;
    transition: all .3s;
    opacity: 1;
    background: #d6d6d6;
    font-size: 14px;
    resize: none
}

.input_submit {
    color: #fff;
    background-color: #629dda;
    font-size: 20px;
    display: table;
    margin: -10px auto 0;
    cursor: pointer;
    border: none;
    box-shadow: none;
    border-bottom: 3px solid #104c8a;
    padding: 8px 30px;
    transition: all .25s ease
}

.input_submit:hover {
    color: #fff;
    background-color: #629dda;
    opacity: .7
}

#form_add_comm .js-comment-empty {
    border-color: #f56b6b !important
}

.comment-success {
    display: none;
    text-align: center;
    padding: 20px 10px;
    color: #8e8e8e;
    max-width: 600px;
    margin: 0 auto;
    font-size: 20px
}

#form_add_comm,
#form_add_comm * {
    box-sizing: border-box !important
}

#form_add_comm .load_img label,
.load_img label {
    cursor: pointer;
    font-size: 14px !important;
    font-weight: 100 !important
}

#form_add_comm .load_img {
    width: 100% !important;
    max-width: 700px !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important
}

#form_add_comm .load_img img {
    max-width: 24px !important;
    margin-left: 10px !important
}

#form_add_comm label {
    display: -webkit-box !important;
    display: -ms-flexbox;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    outline: none !important;
    width: 100% !important;
    max-width: 300px !important;
    border: 2px solid #eaeaea !important;
    padding: 12px 8px !important;
    margin-right: 20px !important
}

#form_add_comm .input_file {
    display: none !important
}

#form_add_comm textarea {
    resize: vertical !important;
    width: 100% !important;
    max-width: 700px !important;
    outline: none !important;
    padding: 10px 12px !important;
    min-height: 100px !important;
    text-indent: 0 !important;
    font-size: 14px !important;
    line-height: unset !important;
    font-family: Arial, sans-serif
}

.comment_form input[type="text"]:focus,
.comment_form input[type="text"]:hover,
.comment_form input[type="email"]:focus,
.comment_form input[type="email"]:hover,
.comment_form textarea:focus,
.comment_form textarea:hover {
    border: 2px solid #ffde00;
    box-shadow: none
}

.comment-success p {
    line-height: 1.4
}

.mycity {
    text-transform: uppercase;
    font-size: 10px;
    padding: 2px 5px;
    background: #f5fbfb;
    color: #444;
    font-weight: bold;
    font-family: calibri, roboto, arial;
    border-radius: 2px;
    border: 1px solid #989898;
    vertical-align: super
}

.vk-container {
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 15px;
    color: #000;
    text-decoration: none
}

.vk-header {
    background: #dae2e8 none repeat scroll 0% 0%;
    padding: 4px 4px 4px 6px;
    margin-bottom: 10px
}

.vk-logo {
    background: transparent none no-repeat scroll 0% 0%;
    width: 16px;
    height: 16px;
    float: right;
    margin-top: -1px
}

.vk-header-text {
    padding: 2px 3px 1px;
    line-height: 100%;
    color: #45688e;
    font-weight: bold
}

.vk-comment,
.vk-comment-load {
    margin-bottom: 15px;
    position: relative;
    border-bottom: 1px solid #dae1e8;
    padding-bottom: 15px
}

.vk-avatar img {
    float: left;
    margin-right: 10px;
    border-radius: 1.575em
}

.vk-comment-name {
    color: #a40000;
    font-weight: bold;
    font-size: 14px;
    margin-left: 59px
}

.vk-comment-text {
    margin-left: 60px
}

.vk-comment-date {
    margin-left: 60px;
    color: #999
}

.ord_button {
    background-color: #fc0a10;
    color: #fff !important;
    display: inline-block;
    padding: 10px 20px;
    font-size: 25px !important;
    box-shadow: 2px 3px 8px #999;
    text-decoration: none !important;
    border-radius: 8px;
    border: 3px solid #fff;
    margin: 20px 0 30px;
    line-height: 27px;
    text-transform: uppercase;
    transition: all .3s ease-in 0s
}

.ord_button:hover {
    background-color: #772133;
    box-shadow: 2px 3px 3px #999;
    text-decoration: none !important;
    transform: scale(1.1)
}

.screenLock {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, .7) none repeat scroll 0% 0%;
    top: 0;
    left: 0;
    z-index: 99999;
    display: none
}

.msg {
    position: absolute;
    width: 627px;
    height: 400px;
    top: 40px;
    left: 50%;
    margin-left: -300px;
    background-image: url("RNEiDVB16BU5.jpg");
    border: 1px solid #eee
}

.msg>h1 {
    color: #000;
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 30px
}

.msg>h2 {
    color: #000;
    text-align: right;
    font-size: 18px;
    margin-left: 18px;
    margin-bottom: 30px;
    margin-top: -10px
}

.close {
    position: absolute;
    top: 16px;
    right: 18px;
    font-size: 20px;
    cursor: pointer;
    color: #000
}

.fig {
    text-align: center
}